// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$primary-color: #36A0D5;
$app-red: #DE5555;
$app-green: #9bd777;
$app-yellow: #F7D961;

$ui-light-grey: #eee;
$ui-dark-grey: #909090;

$text-dark-grey: #787878;
$text-medium-grey: $ui-dark-grey;

html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
  background-color: $ui-light-grey;
  padding-top: 0px;
  margin-bottom: 70px;
}

.navbar-default {
  background-color: $primary-color;
  color: white;

  .navbar-toggle {

    border-color: white;

    .icon-bar {
      background-color: white;
    }
  }
}

.navbar-default .navbar-brand {
  color: white;
}

.navfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #F9F9F9;
  border-top: 1px solid #ddd;
}

.navfooter-nav {

  list-style: none;
  height: 50px;
  margin: 0px;
  padding: 0px;

  a {

    &.active {
      color: $primary-color;
    }

    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    color: #909090;
    padding-top: 8px;
    position: relative;
    text-decoration: none;
    height: 50px;

    .glyphicon {
      display: block;
      font-size: 16px;
    }

    .navfooter-item {
      font-size: 12px;

    }
  }
}

section h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  margin-left: 10px;
  letter-spacing: 1px;
  color: $primary-color;
}

.list-group {
  margin-bottom: 0;

  .list-group-item {

    &:first-child,
    &:last-child {
      border-radius: 0;
    }

  }
}

.class-list {

  .list-group-item {

    &.class-day {
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 14px;
      position: relative;
      min-height: 60px;

      .class-day-column {
        display: block;
        float: left;
        height: 36px;

        .btn-forfeit {
          background-color: $app-red;
          border-color: $app-red;
          color: white;
        }

        &.class-day-column-date {
          text-align: center;
          padding-right: 7px;
          border-right: 1px solid $ui-light-grey;

          p:first-child {
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 2px;
            color: $text-dark-grey;
            font-weight: bold;
            margin-bottom: 0;

            &.class-day-column-date-today {
              color: $app-red;
            }
          }
        }

        &.class-day-column-description {
          margin-left: 10px;

          p:first-child {
            margin: 0;
            margin-top: 2px;
            font-size: 13px;
            color: $text-dark-grey;
          }

          p:last-child {
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      .glyphicon.expander {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: $ui-dark-grey;
      }

    }
  }
}

.class-hour-list {

  .class-hour-list-item {
    position: relative;
    min-height: 90px;
    overflow: auto;

    .class-hour-column {
      display: block;
      float: left;

      .class-hour-time-active {
        color: $primary-color;
      }

    }

    .class-hour-column-info {
      margin-left: 10px;

      .class-hour-title {
        color: $text-dark-grey;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 3px;

        &.class-hour-title-active {
          color: $primary-color;
        }
      }

      .class-hour-elements {

        img {
          height: 20px;
          width: 20px;
          border: 2px solid white;

          &:not(:first-of-type) {
            margin-left: -9px;
          }
        }

        span {
          color: $text-medium-grey;
          font-size: 13px;
        }

      }

      .class-hour-controls {
        margin-top: 8px;
        margin-bottom: 5px;

        .btn {
          padding-top: 2px;
          padding-bottom: 2px;

          &:not(:first-child) {
            margin-left: 6px;
          }
        }

        .btn-forfeit {
          background-color: $app-red;
          border-color: $app-red;
          color: white;
        }

      }

    }

    &.class-hour-minimal .class-hour-column-info {
      margin-left: 0px;
    }

    &.class-hour-minimal {
      .class-hour-controls {
        margin-top: 8px;
      }
    }

    .class-hour-time {
      color: $text-dark-grey;
      font-size: 13px;
      font-weight: bold;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.class-hour-graphical-availability {
  width: 20px;
  height: 20px;
  background-color: #d8d8d8;
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  color: white;
  border-radius: 2px;
  padding-top: 3px;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }

  &[data-completion='0']::after {height: 0%;}
  &[data-completion='1']::after {height: 1%;}
  &[data-completion='2']::after {height: 2%;}
  &[data-completion='3']::after {height: 3%;}
  &[data-completion='4']::after {height: 4%;}
  &[data-completion='5']::after {height: 5%;}
  &[data-completion='6']::after {height: 6%;}
  &[data-completion='7']::after {height: 7%;}
  &[data-completion='8']::after {height: 8%;}
  &[data-completion='9']::after {height: 9%;}
  &[data-completion='10']::after {height: 10%;}
  &[data-completion='11']::after {height: 11%;}
  &[data-completion='12']::after {height: 12%;}
  &[data-completion='13']::after {height: 13%;}
  &[data-completion='14']::after {height: 14%;}
  &[data-completion='15']::after {height: 15%;}
  &[data-completion='16']::after {height: 16%;}
  &[data-completion='17']::after {height: 17%;}
  &[data-completion='18']::after {height: 18%;}
  &[data-completion='19']::after {height: 19%;}
  &[data-completion='20']::after {height: 20%;}
  &[data-completion='21']::after {height: 21%;}
  &[data-completion='22']::after {height: 22%;}
  &[data-completion='23']::after {height: 23%;}
  &[data-completion='24']::after {height: 24%;}
  &[data-completion='25']::after {height: 25%;}
  &[data-completion='26']::after {height: 26%;}
  &[data-completion='27']::after {height: 27%;}
  &[data-completion='28']::after {height: 28%;}
  &[data-completion='29']::after {height: 29%;}
  &[data-completion='30']::after {height: 30%;}
  &[data-completion='31']::after {height: 31%;}
  &[data-completion='32']::after {height: 32%;}
  &[data-completion='33']::after {height: 33%;}
  &[data-completion='34']::after {height: 34%;}
  &[data-completion='35']::after {height: 35%;}
  &[data-completion='36']::after {height: 36%;}
  &[data-completion='37']::after {height: 37%;}
  &[data-completion='38']::after {height: 38%;}
  &[data-completion='39']::after {height: 39%;}
  &[data-completion='40']::after {height: 40%;}
  &[data-completion='41']::after {height: 41%;}
  &[data-completion='42']::after {height: 42%;}
  &[data-completion='43']::after {height: 43%;}
  &[data-completion='44']::after {height: 44%;}
  &[data-completion='45']::after {height: 45%;}
  &[data-completion='46']::after {height: 46%;}
  &[data-completion='47']::after {height: 47%;}
  &[data-completion='48']::after {height: 48%;}
  &[data-completion='49']::after {height: 49%;}
  &[data-completion='50']::after {height: 50%;}
  &[data-completion='51']::after {height: 51%;}
  &[data-completion='52']::after {height: 52%;}
  &[data-completion='53']::after {height: 53%;}
  &[data-completion='54']::after {height: 54%;}
  &[data-completion='55']::after {height: 55%;}
  &[data-completion='56']::after {height: 56%;}
  &[data-completion='57']::after {height: 57%;}
  &[data-completion='58']::after {height: 58%;}
  &[data-completion='59']::after {height: 59%;}
  &[data-completion='60']::after {height: 60%;}
  &[data-completion='61']::after {height: 61%;}
  &[data-completion='62']::after {height: 62%;}
  &[data-completion='63']::after {height: 63%;}
  &[data-completion='64']::after {height: 64%;}
  &[data-completion='65']::after {height: 65%;}
  &[data-completion='66']::after {height: 66%;}
  &[data-completion='67']::after {height: 67%;}
  &[data-completion='68']::after {height: 68%;}
  &[data-completion='69']::after {height: 69%;}
  &[data-completion='70']::after {height: 70%;}
  &[data-completion='71']::after {height: 71%;}
  &[data-completion='72']::after {height: 72%;}
  &[data-completion='73']::after {height: 73%;}
  &[data-completion='74']::after {height: 74%;}
  &[data-completion='75']::after {height: 75%;}
  &[data-completion='76']::after {height: 76%;}
  &[data-completion='77']::after {height: 77%;}
  &[data-completion='78']::after {height: 78%;}
  &[data-completion='79']::after {height: 79%;}
  &[data-completion='80']::after {height: 80%;}
  &[data-completion='81']::after {height: 81%;}
  &[data-completion='82']::after {height: 82%;}
  &[data-completion='83']::after {height: 83%;}
  &[data-completion='84']::after {height: 84%;}
  &[data-completion='85']::after {height: 85%;}
  &[data-completion='86']::after {height: 86%;}
  &[data-completion='87']::after {height: 87%;}
  &[data-completion='88']::after {height: 88%;}
  &[data-completion='89']::after {height: 89%;}
  &[data-completion='90']::after {height: 90%;}
  &[data-completion='91']::after {height: 91%;}
  &[data-completion='92']::after {height: 92%;}
  &[data-completion='93']::after {height: 93%;}
  &[data-completion='94']::after {height: 94%;}
  &[data-completion='95']::after {height: 95%;}
  &[data-completion='96']::after {height: 96%;}
  &[data-completion='97']::after {height: 97%;}
  &[data-completion='98']::after {height: 98%;}
  &[data-completion='99']::after {height: 99%;}
  &[data-completion='100']::after {height: 100%;}

  &.available {
    &::after {
      background-color: $app-green;
    }
  }

  &.full {
    &::after {
      background-color: $app-red;
    }
  }

  &.almost-full {
    &::after {
      background-color: $app-yellow;
    }
  }

  div {
    position: relative;
    z-index: 2;
  }
}

.media-object-small {
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:hover {
    width: 100px;
    height: 100px;
  }
}

#workout-loader {
  min-height: 300px;
  padding-top: 220px;
}

.list-activity {

  .activity-event {

    padding: 10px 10px;

    .activity-event-user-thumbnail {
      margin-right: 10px;
    }

    .activity-event-info-primary {
      font-size: 13px;
      margin-bottom: 4px;

      .username {
        color: $primary-color;
      }
    }

    .activity-event-info-secondary {
      font-size: 12px;
      color: $text-medium-grey;
      margin-bottom: 0;
    }

    img {
      width: 32px;
      height: 32px;
    }

  }
}
