<%= render "./navbar" %>

<section>

  <h2>Adicionar Aulas</h2>

  <ul class="list-group">

  <li class="list-group-item">

    <p>Dias</p>

    <div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-sm btn-default">
          <input type="checkbox" autocomplete="off">Seg
        </label>
        <label class="btn btn-sm btn-default">
          <input type="checkbox" autocomplete="off">Ter
        </label>
        <label class="btn btn-sm btn-default">
          <input type="checkbox" autocomplete="off">Qua
        </label>
        <label class="btn btn-sm btn-default">
          <input type="checkbox" autocomplete="off">Qui
        </label>
        <label class="btn btn-sm btn-default">
          <input type="checkbox" autocomplete="off">Sex
        </label>
        <label class="btn btn-sm btn-default">
          <input type="checkbox" autocomplete="off">Sáb
        </label>
      </div>
    </div>

    <hr>

    <p>Horas</p>

    <ul>
      <li>10:00</li>
      <li>11:00</li>
    </ul>

  </li>

  </ul>

</section>
