<%= stylesheet_link_tag "sessions", :media => "all" %>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">SLNutrition CrossBox</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Início</a></li>
              <li><a href="/contacts">Contactos</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">

        <%= image_tag("slcrossbox", class:"img-responsive") %>

        <% if flash[:user_not_confirmed] %>
          <h1 class="cover-heading">Ups...</h1>
          <p class="lead">Parece que a tua conta ainda não foi confirmada pelo Bruno Sá</p>

        <% elsif flash[:user_created_account] %>
          <h1 class="cover-heading">Boa!</h1>
          <p class="lead">A tua conta foi criada e agora só precisas da confirmação do Bruno Sá</p>

        <% else %>
          <h1 class="cover-heading">Treinar ou não treinar?</h1>
          <p class="lead">Treinar, claro! Vens hoje?</p>
          <a href="/auth/facebook" class="btn"><%= fa_stacked_icon "facebook", :base => "check-empty" %>Entrar com Facebook</a>
        <% end %>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Built by <a href="https://www.facebook.com/miguelgazela">@miguelgazela</a></p>
        </div>
      </div>

    </div>

  </div>

</div>
