
<h3 style="color: #525252">Olá, <%= @user.name %></h3>

<p>Abriu uma vaga para o treino do dia <%= @workout.date.strftime("%d/%m") %> às <%= @workout.date.strftime("%H:%M") %>h e tu ficaste com ela!</p>