<%= render "./navbar" %>

<section>

  <h2 class="text-center">PERFIL PESSOAL</h2>

  <ul class="list-group">

    <li class="list-group-item">
      Brevemente!!
    </li>

  </ul>

</section>

<%= render "./navfooter" %>
