<%= stylesheet_link_tag "sessions", :media => "all" %>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">SLNutrition Crossbox</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Início</a></li>
              <li class="active"><a href="/contacts">Contactos</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">

        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsUR439JiJA0R48PTNnUZ5F8&key=AIzaSyAjvegbYdOOSVTtf518Koez1xFQb6Gn07w" allowfullscreen></iframe>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Built by <a href="https://www.facebook.com/miguelgazela">@miguelgazela</a></p>
        </div>
      </div>

    </div>

  </div>

</div>
