<%= render "./navbar" %>

<section>

  <h2>ACTIVIDADE RECENTE</h2>

  <ul class="list-group">

    <li class="list-group-item text-center exercise-list-header">
      Recordes Pessoais
      <span class="glyphicon glyphicon-chevron-down expander pull-right hidden" aria-hidden="true"></span>
    </li>

  </ul>

</section>

<%= render "./navfooter" %>
