/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./home
 *= require_self
 */

 html,
 body {
 	background-color: #eee;
 	color: #5A6779;
 }

 .navbar-default {
 	background-color: #393F4A;
 	color: white;

 	.navbar-brand {
 		background-color: #01A6E5;
 		color: #ddd;
 		font-weight: 500;
 		transition: all 0.2s linear;

		&:hover,
 		&:focus {
 			color: #393F4A;
 			background-color: #01A6E5;
 		}
 	}

	.navbar-nav > li {

		transition: all 0.2s linear;

		&:hover,
		&:focus {
			background-color: #292C31;
		}

	}

 	.navbar-nav > li > a {
 		color: white;

 		&:hover,
 		&:focus {
 			color: white;
 		}
 	}
 }

.page-header {
	margin-top: 20px;
}

.btn {
	border-radius: 0;
}

.btn-default {

	&:hover,
	&:focus,
	&:active {
		background-color: #01A6E5;
		color: white;
		border-color: #01A6E5;
	}
}





.main-header {
	background-color: #1EAAF1;
	margin-left: -15px;
	margin-right: -15px;
	height: 100px;
	color: white;
	margin-bottom: 30px;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);

	.main-header-title {
		margin-top: 30px;
		margin-left: 15px;
		margin-right: 15px;
		border-bottom: 1px solid white;
	}

	.main-header-calendar-btn {
		margin-bottom: 10px;
		background-color: white;

		&:hover,
		&:focus {
			background-color: #eeeeee;
			
		}
	}
}

.cal-context + * {
	margin-top: 20px;
}

 .card {
 	background-color: #fff;
 	padding: 30px;
 	margin-bottom: 20px;
 	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
 	border-radius: 2px;
 }

 @media (max-width: 767px) {
	
	.card {
		padding: 2px;
	}

	.not-padded-xs {
		padding: 2px;
	}
}

table form {
	display: inline-block;
}

.discrete-link {
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
