/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./home
 *= require_tree ./workouts
 *= require_tree ./users
 *= require_self
 *= require bootstrap-datepicker3
 */

$brand-red: #DE5555;

$primary-color: #36A0D5;
$app-red: #DE5555;
$app-green: #9bd777;
$app-yellow: #F7D961;

 html,
 body {
 	background-color: #eee;
 	color: #5A6779;
 }

 .navbar-default {

 	.navbar-brand {
 		font-weight: 700;
 		transition: all 0.2s linear;
 	}

	.navbar-nav > li {

		transition: all 0.2s linear;

		&:hover,
		&:focus {
			background-color: #292C31;
		}

	}

 	.navbar-nav > li > a {
 		color: white;

 		&:hover,
 		&:focus {
 			color: white;
 		}
 	}
 }

.page-header {
	margin-top: 20px;
}

.btn-default {

  background-color: #f0eff4;
  color: #787878;
}

.card {
 background-color: #fff;
 padding: 30px;
 margin-bottom: 20px;
 box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
 border-radius: 2px;
}

@media (max-width: 767px) {

 .card {
   padding: 2px;
   margin-left: 5px;
   margin-right: 5px;

   &.padded-xs-card {
     padding: 10px;
   }
 }

 .cal-context {
   margin-top: 15px;
 }
}

table form {
	display: inline-block;
}

.discrete-link {
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
