<nav class="navfooter">
  <ul class="navfooter-nav">
    <li>
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <span class="navfooter-item">Aulas</span>
    </li>
    <li>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <span class="navfooter-item">Perfil</span>
    </li>
    <li>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="navfooter-item">Recordes</span>
    </li>
    <li>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <span class="navfooter-item">Opções</span>
    </li>
  </ul>
</nav>
