<nav class="navfooter">
  <ul class="navfooter-nav">
    <a href="/">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <span class="navfooter-item">Aulas</span>
    </a>
    <a href="">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <span class="navfooter-item">Perfil</span>
    </a>
    <!-- <a href="/personal_best"> -->
    <a href="/">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="navfooter-item">Recordes</span>
    </a>
    <a href="">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      <span class="navfooter-item">Notificações</span>
    </a>
  </ul>
</nav>
